[submodule "deps_libft"]
	path = deps/libft
	url = https://github.com/suedadam/42sh
	branch = libft
[submodule "local_malloc"]
	path = deps/malloc
	url = https://github.com/suedadam/42sh
	branch = malloc
